.steps {
	li + li {
		margin-top: 1rem;
	}
	
	.disabled {
		opacity: .25;
	}
  }
  
.my-collection {
	margin-left: -.5rem;
	margin-right: -.5rem;
	
	.card {
		margin-left: .5rem;
		margin-right: .5rem;
		width: calc(25% - 1rem);
	}
}
.ember-google-map {
	height: 300px;
	margin: 10px
}
@import "ember-bootstrap/bootstrap";
