<div class="container-fluid my-3">
	<section class="header">
		<div class="d-flex align-items-center">
			<b>Do some thing</b>
			<div class="ml-3">At this place</div>
			<button type="button" class="close ml-auto" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<hr>
	</section>

	<div class="d-flex">
		<aside class="w-25 pr-3">
			<SidebarStepper>
				<SidebarStep/>
				<SidebarStep/>
			</SidebarStepper>
		</aside>
		<main class="w-75">
			{{outlet}}
		</main>
	</div>
</div>